:root {
  --color-text: #191924;
  --color-background: #fff;
  --color-heading: #07070a;

  --color-primary: #1da1f2;
  --color-primary-hover: #1a91da;

  --color-secondary: #07070a;
  --color-secondary-hover: #191924;

  --color-accent: #fb3640;
  --color-accent-hover: #fa0f1b;

  --color-muted: #46a7e3;
  --color-muted-hover: #709bb5;

  --color-border: #ebece9;
  --color-border-hover: #b9bdb3;

  --color-red: #ea0000;
}

:root[data-color-scheme='dark'] {
  --color-text: #fff;
  --color-background: #0d202d;
  --color-heading: #fff;

  --color-primary: #3b9bd7;
  --color-primary-hover: #237eb7;

  --color-secondary: #07070a;
  --color-secondary-hover: #191924;

  --color-accent: #fb3640;
  --color-accent-hover: #fa0f1b;

  --color-muted: #3c4e59;
  --color-muted-hover: #afbec7;

  --color-border: #2a2a3c;
  --color-border-hover: #434360;

  --color-red: #ea0000;
}
